body {
    background-color: #121212;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
}

input:focus, button:focus {
    outline: none;
}

#main-container {
    width: 100%;
}

#logo {
    font-family: 'Anton', sans-serif;
    height: 50px;
    font-size: 40px;
    color: white;
    z-index: 10;
    padding: 10px 0;
    display: flex;
}

.img-logo {
    height: 50px;
    padding-right: 10px;
}

#navbar {
    color: white;
    background-color: #121212;
    z-index: 5;
}

#searchbar {
    padding: 10px 0;
    position: relative;
    height: 40px;
    display: flex;
}

#search-input {
    flex-grow: 1;
    background-color: white;
    height: 100%;
    box-sizing: border-box;
    border: none;
    font-size: 16px;
    padding-left: 10px;
    transition: all 0.5s;
    border-radius: 5px;
}

#search-button {
    width: 50px;
    background: linear-gradient(226deg, #ffc800, #9f00ff, #ff0000);
    background-size: 600% 600%;
    animation: gradient 6s ease infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    transition: all 0.5s;
}

#search-button:hover {
    color: white;
    cursor: pointer;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

#hashtags-container {
    display: flex;
    justify-content: space-around;
    padding: 5px 0 20px 0;
}

.hashtag {
    width: 23%;
    height: 40px;
    background-color: #3a3838ab;
    border-radius: 20px;
    -webkit-animation: slideFromBottom 1000ms ease-out;
    -moz-animation: slideFromBottom 1000ms ease-out;
    -ms-animation: slideFromBottom 1000ms ease-out;
    padding: 10px 0;
    color: #ffffff;
    font-style: italic;
    font-size: 14px;
    border: none;
}

.hashtag:hover {
    color: #0cf;
    cursor: pointer;
}

@-webkit-keyframes slideFromBottom {
    from {
        opacity: 0;
        -webkit-transform: translateY(50%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

.sticky {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    width: 70%;
}

.sticky + #content-wrapper {
    margin-top: 130px;
}

#content-wrapper {
    position: relative;
}

#content, #overlay {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-rows: 180px;
    position: absolute;
    margin-bottom: 50px;
}

#img0, #div0 {
    grid-column: 3/-1;
    grid-row: 1/3;
    width: 100%;
    height: 100%;
}

.gif-overlay {
    width: 100%;
    height: 180px;
    background-image: linear-gradient(black, transparent, black);
    opacity: 0;
    transition: 0.3s ease-in-out;
    border-radius: 5px;
}

.gifs {
    border-radius: 5px;
    background-color: darkmagenta;
    width: 100%;
    height: 180px;
}

.gifs:hover {
    cursor: pointer;
}

.gif-overlay:hover {
    opacity: 1;
}

#more {
    position: fixed;
    z-index: 10;
    height: 50px;
    width: 50px;
    font-size: 25px;
    bottom: 50px;
    right: 150px;
    border: none;
    border-radius: 100%;
    background: linear-gradient(226deg, #ffc800, #9f00ff, #ff0000);
    background-size: 600% 600%;
    animation: gradient 6s ease infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}

#more:hover {
    cursor: pointer;
    color: white;
}

@media screen and (max-width: 1500px) {
    #content, #overlay {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #img0, #div0 {
        display: grid;
        grid-column: 2/-1;
        grid-row: 1/3;
        width: 100%;
        height: 100%;
    }

}

@media screen and (max-width: 1050px) {
    #img0, #div0 {
        display: grid;
        grid-column: 1/-1;
        grid-row: 1/3;
        width: 100%;
        height: 100%;
    }

}
