body {
    background-color: #121212;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#main-container {
    width: 70%;
}

nav {
    color: white;
}

#logo {
    height: 100px;
    background-color: #121212;
    font-size: 40px;
    display: flex;
    align-items: flex-end;
}

#img-logo {
    height: 50px;
    padding-bottom: 10px;
}

#searchbar {
    height: 50px;
}

.search-input {
    width: 100%;
    height: 100%;
    border: none;
    box-sizing: border-box;
    padding: 10px;
}


#buttons {
    height: 50px;
    background-color: #121212;
}

.sticky {
    position: fixed;
    top: 0;
    width: 70%;
}

.sticky + #content {
    margin-top: 200px;
}

#content {
    height: 2000px;
    background: url("https://images.pexels.com/photos/838423/pexels-photo-838423.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}